@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
    
body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
    background-color: #ece7e7d7;
}

/* Navbar CSS */
.navbar-brand{
    padding: 1.15rem 1.5rem;

}
a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    font-weight: 500;
}

/* Sidebar CSS */
li{
    list-style: none;
}
/* Layout for admin dashboard skeleton */
 .wrapper{
    align-items:stretch;
    display: flex;
    width:100%;
}
#sidebar{
    max-width:264px;
    min-width: 264px;
    background-color: #ffffff;
    transition:all 0.35s ease-in-out;
}
#sidebar.collapsed{
    margin-left:-264px; 
}
.sidebar-nav{
    padding: 0;
}
a.sidebar-link{
    padding: .625rem 1.625rem;
    color:grey;
    position:relative;
    display: block;
    font-size: 1rem;
}
.sidebar-content{
    font-size: small;
    margin-left: 10px;
}

/* Main CSS */  
.main{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #FFFFFF;
}
.content{
        flex:1;
        max-width:100vw;
        width:100vw;

}
@media(min-width:768px){
    .content{
        max-width:auto;
        width:auto;
    }
}
/* profile CSS */
    .box1:hover{
        background-color: #ececec;
        cursor: pointer;
        border-radius: 1px solid rgb(56, 160, 245);
    }
    .box{
        border:1px solid rgb(226, 222, 222); 
        height:60px;
        border-radius: 5px;

    }
    .box:hover{
        background-color: #ececec;
        cursor: pointer;
    }
    
    /* Table */
   
    .board h5{
        font-weight: 500;
        font-size: 15px;
    }
    .board p{
        font-weight: 400;
        font-size: 11px;
        color: #787d8d;
    }
    .board .people{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
    }
table{
    border-collapse: collapse;
    border: 1px solid rgb(247, 243, 243);
    border-radius: 5px;
}
tr{
    border-bottom:1px solid #eef0f3 ;
}
thead td{
    font-size: 14px;
    font-weight: 400;
    background:#e7eaf6;
    text-align: start;
    padding: 15px;
    color: #333435;
}
tbody tr td{
    padding: 10px 15px;
}
.active .small-text{
    background: #dbc7f1;
    padding: 2px 10px;
    display: inline-block;
    border: 1px solid #f3e0f5;
    color:#622569;
    border-radius: 5px;
}
.active .num-text{
    border-radius: 50%;
    border: 1px solid #8b658f;
    padding: 4px;
    font-size: 10px;
}
.people-descri .info{
    font-size: 13px;
    color: #787d8d;
}

/* Pagignation */
.pagination {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 120px 30px 20px 30px;
  }
  
  .pagination a {
    color: rgb(10, 10, 10);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgb(250, 244, 244);
  }
  
  .pagination a.active {
    background-color: blue;
    color: white;
    border-radius: 50%;
  }

/* badges css */
/* .circles{
    display: flex;
    margin: 120px 30px 20px 30px;
    justify-content: flex-end;
    align-items:flex-end;
    border-radius: 50%;
}
.circles .badge {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #333435;
} */